*{
padding: 0; 
margin: 0; 
box-sizing: border-box; 
font-family: 'Poppins', sans-serif; 
list-style: none; 
text-decoration: none;
}

header { 
    position: fixed; 
    right: 0; 
    top: 0; 
    z-index: 1000; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 33px 9%; 
    background: transparent; 
} 

.logo{ 
    font-size: 30px; 
    font-weight: 700; 
    color: white;
}

.navlist {
    display: flex;
}

.navlist a { 
    color: white; 
    margin-left: 60px; 
    font-size: 15px; 
    font-weight: 600; 
    border-bottom: 2px solid transparent; 
    transition: all .55s ease; 
}
    
.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{ 
    color: white; 
    font-size: 35px; 
    z-index: 10001; 
    cursor: pointer; 
    display: none; 
}

.hero{ 
    height: 100%; 
    width: 100%; 
    min-height: 100vh; 
    background: Linear-gradient(245.59deg, #c2adc4 0%, #9577a9 28.53%, #271b27 75.52%); 
    position: relative; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.hero-text h5{ 
    font-size: 14px; 
    font-weight: 400; 
    color: white; 
    margin-bottom: 40px; 
} 

.hero-text h1{ 
    font-family: 'Permanent Marker', cursive; 
    font-size: 90px; 
    Line-height: 1; 
    color: white; 
    margin: 0 0 45px; 
}

.hero-text h4{ 
    font-size: 18px; 
    font-weight: 
    600; 
    color: white; 
    margin-bottom: 
    10px;
}

.hero-text p{ 
    color: white; 
    font-size: 
    15px; 
    Line-height: 1.9; 
    margin-bottom: 40px;
}

.hero-img img{ 
    width: 700px; 
    height: auto; 
} 

    .hero-text a{ 
    display: inline-block; 
    color: white; 
    background: #9577a9; 
    border: 1px solid transparent; 
    padding: 12px 30px; 
    line-height: 1.4; 
    font-size: 14px; 
    font-weight: 500; 
    border-radius: 30px; 
    text-transform: uppercase; 
    transition: all .55s ease;
}

.hero-text a:hover{ 
    background: 
    transparent; 
    border: 
    1px solid white; 
    transform: 
    translateX(8px); 
}

.hero-text a.ctaa{ 
    background: transparent; 
    border: 1px solid white; 
    margin-left: 20px; 
} 

.hero-text a.ctaa i{ 
    vertical-align: middle; 
    margin-right: 5px; 
}

.icons{ 
    position: absolute; 
    top: 50%; 
    padding: 09%; 
    transform: translateY(-50%); 
} 
    
.icons i{ 
    display: block; 
    margin: 26px 0; 
    font-size: 24px; 
    color: white; 
    transition: all .50s ease; 
}

.icons i:hover{ 
    color: #9577a9; 
    transform: translateY(-5px); 
}

.scroll-down i{ 
    display: block; 
    padding: 12px; 
    font-size: 25px; 
    color: white; 
    background: #9577a9; 
    border-radius: 30px; 
    transition: all 50s ease; 
} 

.scroll-down i:hover{ 
    transform: translateY(-5px); 
} 

@media (max-width: 1535px) { 

    header { 
        padding: 15px 3%; 
        transition: .2s; 
    }
    
    .icons{ 
        padding: 0 3%; 
        transition: .25; 
        } 
        scroll-down{ 
        right: 3%; 
        transition: .25; 
        } 
    } 
        
    @media (max-width: 1460px) { 
        section{ 
        padding: 0 12%; 
        transition: .25; 
        } 
}

@media (max-width: 1340px){ 
    .hero-img img{ 
        width: 100%; 
        height: auto; 
    } 
    
    .hero-text h1{ 
        font-size: 75px; 
        margin: 0 0 30px; 
    }

    .hero-text h5{ 
        margin-bottom: 25px; 
        } 
        } 

@media (max-width: 1195px){ 
    section{ 
        padding: 0 3%; 
        transition: .2s; 
    } 
    .hero-text{ 
        padding-top: 115px; 
    } 
    .hero-img{ 
        text-align: center; 
    } 
    .hero-img img{ 
        width: 560px; 
        height: auto; 
    } 
    .hero{ 
        height: 100%; 
        gap: 1rem; 
        grid-template-columns: 1fr;
    }
    .icons{ 
        display: none; 
        } 
    .scroll-down{ 
        display: none; 
    } 
} 

@media (max-width: 990px){ 
    #menu-icon{ 
        display: block; 
    } 
    .navlist{ 
        position: absolute; 
        top: 100%; 
        right: -100%; 
        width: 300px; 
        height: 40vh; 
        background: #9577a9; 
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width: 680px){ 
    .hero-img img{ 
        width: 100%; 
        height: auto; 
    } 
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
}
.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#c2adc4, #9577a9, #271b27);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{
	padding: 16px;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur (30px); 
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #271b27;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}

.pathways{
	position: relative;
	width: 100%;
	height: 100vh;
	background: radial-gradient(#9577a9,#271b27);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.pathway-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
